/* Small mobile :320px. */
@media only screen and (max-width: 479px) {
	.container{
		width: 100%; //300px;
	}
	.header-search {
		display: none;
	}
	.hero-content .button {
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		padding: 0 15px;
	}
	.feature-list ul li {
		font-size: 12px;
	}
	.header-bottom .logo {
		margin: 10px 0;
	}
	#pdp-logo {
		text-align: center;
		padding-bottom: 30px;
	}
	.header-bottom .row {
		margin: 0 -15px;
	}
	.header-bottom .logo a img {
		width: 14rem; //110px;
		margin: 3rem 15px;
	}

}


/* Large Mobile :480px. */
@media only screen and (max-width: 767px) {
	.container {
		width: 100%; //450px;
	}
	.header-bottom .header-logo {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 9999;
	}
	.header-search {
		position: absolute;
		right: 50px;
		top: 0;
		z-index: 9999;
	}
	.hero-content h1 {
		font-size: 30px;
	}
	.hero-content h3 {
		font-size: 14px;
	}
	.hero-content .button {
		height: 36px;
		line-height: 36px;
		padding: 0 20px;
	}
	.feature-list ul li {
		width: 100%;
	}
	.header-bottom .logo {
		margin: 10px 0;
	}
//	.header-bottom .logo a img {
//	width: 10rem; //110px;
//}

}

/* Tablet desktop :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-bottom .header-logo {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 9999;
	}
	.header-search {
		position: absolute;
		right: 50px;
		top: 0;
		z-index: 9999;
	}
	.hero-content h1 {
		font-size: 30px;
	}
	.hero-content h3 {
		font-size: 20px;
	}
	.feature-list ul li {
		width: 50%;
	}
	.main-menu nav > ul > li {
			position: unset;
	}
	.mm-5-column {
			width: 720px;
	}
	#pdp-logo {
		text-align: center;
		padding-bottom: 30px;
	}
	.jumbotron {
		padding-top: 30px;
	}
	.header-bottom .row {
		margin: auto 0;
	}
	.header-bottom .logo a img {
		width: 14rem; //110px;
//		margin: 3rem 15px;
	}

}


/* Normal desktop :992px. */
@media only screen and (min-width: 992px) and (max-width: 1169px) {
	#demo-container .mix a h3 {
		font-size: 14px;
	}
	.header-bottom .row {
		margin: auto 0;
	}
//	.header-bottom .logo a img {
//	width: 12rem; //110px;
//	}

}

@media only screen and (min-width: 1170px) {
	#demo-container .mix a h3 {
		font-size: 14px;
	}
//	.header-bottom .logo a img {
//	width: 14rem; //110px;
//}

}

